/* Border aspect confused. Must ask for help */

/* Use a border only on the left side of the page's html element.
It should have a width of 5px and a color of lightgray. */

/* Ask how to do the line seperation if possible with <breakers> */
/* Ask why the psuedo element isn't functioning as it should be*/
body {
    min-height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 1000px;
    margin: auto;
}

header {
    padding: 1rem;
}

main, footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

h1 {
    display: flex;
    color: tomato;
    font-size: 4rem;
    font-weight: 1;
    text-indent: 1rem;
}

h4 {
    display: flex;
    justify-content: end;
    color: tomato;
    font-size: 1.25rem;
    font-weight: bold;
}

img {
    width: 100%;
}

p {
    display: flex;
}

footer {
    color: lightgray;
}

article {
    margin-bottom: 4rem;
    border: lightgray 2px solid;
    padding-bottom: 2rem;
}

p::first-letter {
    font-size: 1.5rem;
    font-weight: bold;
    color: lightgray;
}

.dates {
    font-size: 2.5rem;
    color: lightgrey;
}

.header-ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.footer-ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.header-anch-li {
    color: lightgray;
    font-size: 2rem;
}

.footer-anch-li {
    color: tomato;
}

.p-headline {
    font-size: 2.25rem;
}

#h2-bdp {
    font-weight: 1;
    text-indent: 1rem;
    font-size: 2rem;
}